<a href="https://colab.research.google.com/github/DevCEDTeam/CED/blob/main/NBC_Setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Step # 1: Mounted at /content/drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#**Step #2: Change director ("cd")  | path content/drive/MyDrive/projects/dataset/oc-voter-list/master/**

In [2]:
cd /content/drive/MyDrive/projects/dataset/oc-voter-list/master/

/content/drive/MyDrive/projects/dataset/oc-voter-list/master

#**Step # 3:  ls:  Lists the files and directories in the current working directory**

In [3]:
!ls

 cntywd_02102023.csv    cntywd_02102023.xlsx	 cntywd_Hist_021023.txt
 cntywd_02102023_.txt   cntywd_Hist_021023.csv	'RVF Layout.pdf'

Locate Directory

#**Step #4: Print the top Row Header**

In [ ]:
# To Using Pandas write a script  to convert a .txt file with space-tab (t) separator and ANSI encoding into a CSV file using a Pandas snippet in Google Colab.

# You can use the 'ISO-8859-1' encoding instead. Here's the corrected code:


import pandas as pd

# Define the input .txt file path
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'

# Read the first row from the .txt file (assuming the header is in the first row)
with open(input_txt_file, 'r', encoding='ISO-8859-1') as file:
    # Read the first line
    first_line = file.readline()

# Split the first line using space and tab (t) as the separator
header = first_line.strip().split('\t')

# Print the top row header
print(header)

['lVoterUniqueID', 'sAffNumber', 'szStateVoterID', 'sVoterTitle', 'szNameLast', 'szNameFirst', 'szNameMiddle', 'sNameSuffix', 'sGender', 'szSitusAddress', 'szSitusCity', 'sSitusState', 'sSitusZip', 'sHouseNum', 'sUnitAbbr', 'sUnitNum', 'szStreetName', 'sStreetSuffix', 'sPreDir', 'sPostDir', 'szMailAddress1', 'szMailAddress2', 'szMailAddress3', 'szMailAddress4', 'szMailZip', 'szPhone', 'szEmailAddress', 'dtBirthDate', 'sBirthPlace', 'dtRegDate', 'dtOrigRegDate', 'dtLastUpdate_dt', 'sStatusCode', 'szStatusReasonDesc', 'sUserCode1', 'sUserCode2', 'iDuplicateIDFlag', 'szLanguageName', 'szPartyName', 'szAVStatusAbbr', 'szAVStatusDesc', 'szPrecinctName', 'sPrecinctID', 'sPrecinctPortion', 'sDistrictID_0', 'iSubDistrict_0', 'szDistrictName_0', 'sDistrictID_1', 'iSubDistrict_1', 'szDistrictName_1', 'sDistrictID_2', 'iSubDistrict_2', 'szDistrictName_2', 'sDistrictID_3', 'iSubDistrict_3', 'szDistrictName_3', 'sDistrictID_4', 'iSubDistrict_4', 'szDistrictName_4', 'sDistrictID_5', 'iSubDistrict_5', 'szDistrictName_5']

#**Step #5: Print top 500 Rows**

In [ ]:
# It seems you want to read a .txt file with space-tab (t) separator and ANSI encoding into a Pandas DataFrame, create a new DataFrame with specific values, and then print only the top 500 rows. I've corrected the code and provided the following snippet for your task:


# My apologies for the error. It seems there's a mismatch between the number of columns in the header and the number of columns in the provided values. To fix this, we should ensure that the number of columns in the header matches the number of values you want to insert. Here's the corrected code:


import pandas as pd

# Define the input .txt file path
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'

# Define data types for the columns
dtypes = {
    'szEmailAddress': str,
    'szNameFirst': str,
    'szNameLast': str,
}

# Read the data from the .txt file with specified data types
df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

# Remove rows with 'NaN' or '...' in the 'szEmailAddress' column
df = df[df['szEmailAddress'].apply(lambda x: x not in ['NaN', '...'])]

# Print the top 500 rows of the specified columns
print(df[['szEmailAddress', 'szNameFirst', 'szNameLast']].head(500))

<ipython-input-31-0e9b6da82834>:20: DtypeWarning: Columns (13,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

                     szEmailAddress szNameFirst      szNameLast
0                               NaN        Ruth       Rodriguez
1         brianschoonover@yahoo.com       Brian      Schoonover
2         brianschoonover@yahoo.com       Julie      Schoonover
3    ROSEMARYAVELLANEDA58@GMAIL.COM    Rosemary      Avellaneda
4                               NaN        Tony         Garduno
..                              ...         ...             ...
495                             NaN      Lareva         Branden
496                             NaN    Bilberto       Hernandez
497     ANTONIOEHERNANDEZ@GMAIL.COM     Antonio  Hernandezpablo
498                             NaN       Bryan        Baltazar
499                             NaN       Oscar          Rendon

[500 rows x 3 columns]

#**Step #6: Print top 500 Rows and remove 'NAN' rows**

In [7]:
import pandas as pd

# Define the input .txt file path
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'

# Define data types for the columns
dtypes = {
    'szEmailAddress': str,
    'szNameFirst': str,
    'szNameLast': str,
}

# Read the data from the .txt file with specified data types
df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

# Remove rows with 'NaN' values in the 'szEmailAddress' column
df = df.dropna(subset=['szEmailAddress'])

# Print the top 500 rows of the specified columns
print(df[['szEmailAddress', 'szNameFirst', 'szNameLast']].head(500))

<ipython-input-7-8ac51ee951a2>:14: DtypeWarning: Columns (13,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

                      szEmailAddress szNameFirst      szNameLast
1          brianschoonover@yahoo.com       Brian      Schoonover
2          brianschoonover@yahoo.com       Julie      Schoonover
3     ROSEMARYAVELLANEDA58@GMAIL.COM    Rosemary      Avellaneda
5        Janely.avellaneda@yahoo.com      Janely         Garduno
7          froggylover1984@yahoo.com       Vilma       Alcantara
...                              ...         ...             ...
1160         FLAKA.PRADO22@GMAIL.COM     Beverly           Prado
1161       JNOATHANSOLANOF@GMAOL.COM    Jonathan  Solanoaparicio
1166          monica_551@hotmail.com      Monica         Estrada
1171         victormsoto03@gmail.com      Victor            Soto
1172              juliavertiz@me.com       Julia          Vertiz

[500 rows x 3 columns]

**Convert the .TXT file to .CSV file**

In [4]:
import pandas as pd

# Define the input .txt file path
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'

# Define the output .csv file path
output_csv_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBC0003-11-10-2023-c-test.txt'

# Define data types for the columns
dtypes = {
    'szEmailAddress': str,
    'szNameFirst': str,
    'szNameLast': str,
}

# Read the data from the .txt file with specified data types
df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

# Remove rows with 'NaN' values in the 'szEmailAddress' column
df = df.dropna(subset=['szEmailAddress'])

# Write the data to the output .csv file
df.to_csv(output_csv_file, index=False)

<ipython-input-4-70170cc4df70>:17: DtypeWarning: Columns (13,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

**Convert .TXT and Export File**

In [5]:
import pandas as pd

# Define file paths
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'
output_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBC0003-11-10-2023-d-test.txt'

# Define data types for the columns
dtypes = {
    'szEmailAddress': str,
    'szNameFirst': str,
    'szNameLast': str,
}

# Read the data from the .txt file with specified data types
df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)


df = df[['szEmailAddress', 'szNameFirst', 'szNameLast']]

print(df.shape)
df.dropna(inplace=True)
print(df.shape)
print(df.iloc[5759,:])
# Export the entire DataFrame to a new text file
df.to_csv(output_txt_file, sep='\t', index=False)

print(f'Export completed. Text file saved as {output_txt_file}')

<ipython-input-5-98f1e65c04c7>:15: DtypeWarning: Columns (13,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

(1810164, 3)
(832368, 3)
szEmailAddress    TANHUNGHOIAN@YAHOO.COM
szNameFirst                         Hung
szNameLast                        Nguyen
Name: 12879, dtype: object
Export completed. Text file saved as /content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBC0003-11-10-2023-d-test.txt