<a href="https://colab.research.google.com/github/DevCEDTeam/CED/blob/main/NBC_Setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Step # 1: Mounted at /content/drive**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#**Step #2: Change director ("cd")  | path content/drive/MyDrive/projects/dataset/oc-voter-list/master/**

In [3]:
cd /content/drive/MyDrive/projects/dataset/oc-voter-list/master/

/content/drive/MyDrive/projects/dataset/oc-voter-list/master

#**Step # 3:  ls:  Lists the files and directories in the current working directory**

In [4]:
!ls

 cntywd_02102023.csv    cntywd_02102023.xlsx	 cntywd_Hist_021023.txt
 cntywd_02102023_.txt   cntywd_Hist_021023.csv	'RVF Layout.pdf'

Locate Directory

#**Step #4: Print the top Row Header**

In [5]:
# To Using Pandas write a script  to convert a .txt file with space-tab (t) separator and ANSI encoding into a CSV file using a Pandas snippet in Google Colab.

# You can use the 'ISO-8859-1' encoding instead. Here's the corrected code:


import pandas as pd

# Define the input .txt file path
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'

# Read the first row from the .txt file (assuming the header is in the first row)
with open(input_txt_file, 'r', encoding='ISO-8859-1') as file:
    # Read the first line
    first_line = file.readline()

# Split the first line using space and tab (t) as the separator
header = first_line.strip().split('\t')

# Print the top row header
print(header)

['lVoterUniqueID', 'sAffNumber', 'szStateVoterID', 'sVoterTitle', 'szNameLast', 'szNameFirst', 'szNameMiddle', 'sNameSuffix', 'sGender', 'szSitusAddress', 'szSitusCity', 'sSitusState', 'sSitusZip', 'sHouseNum', 'sUnitAbbr', 'sUnitNum', 'szStreetName', 'sStreetSuffix', 'sPreDir', 'sPostDir', 'szMailAddress1', 'szMailAddress2', 'szMailAddress3', 'szMailAddress4', 'szMailZip', 'szPhone', 'szEmailAddress', 'dtBirthDate', 'sBirthPlace', 'dtRegDate', 'dtOrigRegDate', 'dtLastUpdate_dt', 'sStatusCode', 'szStatusReasonDesc', 'sUserCode1', 'sUserCode2', 'iDuplicateIDFlag', 'szLanguageName', 'szPartyName', 'szAVStatusAbbr', 'szAVStatusDesc', 'szPrecinctName', 'sPrecinctID', 'sPrecinctPortion', 'sDistrictID_0', 'iSubDistrict_0', 'szDistrictName_0', 'sDistrictID_1', 'iSubDistrict_1', 'szDistrictName_1', 'sDistrictID_2', 'iSubDistrict_2', 'szDistrictName_2', 'sDistrictID_3', 'iSubDistrict_3', 'szDistrictName_3', 'sDistrictID_4', 'iSubDistrict_4', 'szDistrictName_4', 'sDistrictID_5', 'iSubDistrict_5', 'szDistrictName_5']

#**Step #5: Print top 500 Rows**

In [6]:
# It seems you want to read a .txt file with space-tab (t) separator and ANSI encoding into a Pandas DataFrame, create a new DataFrame with specific values, and then print only the top 500 rows. I've corrected the code and provided the following snippet for your task:


# My apologies for the error. It seems there's a mismatch between the number of columns in the header and the number of columns in the provided values. To fix this, we should ensure that the number of columns in the header matches the number of values you want to insert. Here's the corrected code:


import pandas as pd

# Define the input .txt file path
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'

# Define data types for the columns
dtypes = {
    'szEmailAddress': str,
    'szNameFirst': str,
    'szNameLast': str,
}

# Read the data from the .txt file with specified data types
df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

# Remove rows with 'NaN' or '...' in the 'szEmailAddress' column
df = df[df['szEmailAddress'].apply(lambda x: x not in ['NaN', '...'])]

# Print the top 500 rows of the specified columns
print(df[['szEmailAddress', 'szNameFirst', 'szNameLast']].head(500))

<ipython-input-6-0e9b6da82834>:20: DtypeWarning: Columns (13,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

                     szEmailAddress szNameFirst      szNameLast
0                               NaN        Ruth       Rodriguez
1         brianschoonover@yahoo.com       Brian      Schoonover
2         brianschoonover@yahoo.com       Julie      Schoonover
3    ROSEMARYAVELLANEDA58@GMAIL.COM    Rosemary      Avellaneda
4                               NaN        Tony         Garduno
..                              ...         ...             ...
495                             NaN      Lareva         Branden
496                             NaN    Bilberto       Hernandez
497     ANTONIOEHERNANDEZ@GMAIL.COM     Antonio  Hernandezpablo
498                             NaN       Bryan        Baltazar
499                             NaN       Oscar          Rendon

[500 rows x 3 columns]

#**Step #6: Print top 500 Rows and remove 'NAN' rows**

In [7]:
import pandas as pd

# Define the input .txt file path
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'

# Define data types for the columns
dtypes = {
    'szEmailAddress': str,
    'szNameFirst': str,
    'szNameLast': str,
}

# Read the data from the .txt file with specified data types
df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

# Remove rows with 'NaN' values in the 'szEmailAddress' column
df = df.dropna(subset=['szEmailAddress'])

# Print the top 500 rows of the specified columns
print(df[['szEmailAddress', 'szNameFirst', 'szNameLast']].head(500))

<ipython-input-7-8ac51ee951a2>:14: DtypeWarning: Columns (13,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

                      szEmailAddress szNameFirst      szNameLast
1          brianschoonover@yahoo.com       Brian      Schoonover
2          brianschoonover@yahoo.com       Julie      Schoonover
3     ROSEMARYAVELLANEDA58@GMAIL.COM    Rosemary      Avellaneda
5        Janely.avellaneda@yahoo.com      Janely         Garduno
7          froggylover1984@yahoo.com       Vilma       Alcantara
...                              ...         ...             ...
1160         FLAKA.PRADO22@GMAIL.COM     Beverly           Prado
1161       JNOATHANSOLANOF@GMAOL.COM    Jonathan  Solanoaparicio
1166          monica_551@hotmail.com      Monica         Estrada
1171         victormsoto03@gmail.com      Victor            Soto
1172              juliavertiz@me.com       Julia          Vertiz

[500 rows x 3 columns]

#**Step #7: Total count of szEmailAddress rows**

In [8]:


import pandas as pd

# Define the file path to your dataset
input_csv_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBC0003-11-10-2023-f-update.csv'
output_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBC0003-11-10-2023-test.txt'

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(input_csv_file, on_bad_lines='skip', delimiter="\t")

# Calculate the total count of 'szEmailAddress' rows
# total_count_szEmailAddress = df[['szEmailAddress']].count()
print(df.columns)
print(df.shape)
total_count_szEmailAddress = df.shape[0]

print(f'Total count of szEmailAddress rows: {total_count_szEmailAddress}')

Index(['szEmailAddress', 'szNameFirst', 'szNameLast'], dtype='object')
(832368, 3)
Total count of szEmailAddress rows: 832368

#**Step #8 : df.head() | Charts | Interactive Table**

In [9]:
df.head()

                   szEmailAddress szNameFirst  szNameLast
0       brianschoonover@yahoo.com       Brian  Schoonover
1       brianschoonover@yahoo.com       Julie  Schoonover
2  ROSEMARYAVELLANEDA58@GMAIL.COM    Rosemary  Avellaneda
3     Janely.avellaneda@yahoo.com      Janely     Garduno
4       froggylover1984@yahoo.com       Vilma   Alcantara

#**Step #9 : Convert .txt file to Excel .xlsx file format**

In [10]:
import pandas as pd

# Assuming you already have a DataFrame named 'df' with your data

# Create a slice copy of the first 5,000 rows
df_copy = df.head(5000).copy()

# Select and retain only the desired columns
columns_to_keep = ['szEmailAddress', 'szNameFirst', 'szNameLast']
df_copy = df_copy[columns_to_keep]

# Now, df_copy contains the first 5,000 rows with only the specified columns
output_excel_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBV000-12-10-2023.xlsx'

# Save the DataFrame to an xlsx file using the 'openpyxl' engine
df_copy.to_excel(output_excel_file, engine='openpyxl')

#**Step #10: Verify the OC Voter Registration List  (szEmailAddress, szNameFirst, szNameLast) via Excel Pivot | path : NBC0003-11-10-2023-mautic.txt**

In [ ]:
import pandas as pd

# Define the file paths
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'
output_csv_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBC0003-11-10-2023-mautic.txt'

# Read the entire .txt file into a Pandas DataFrame with the correct encoding
df = pd.read_csv(input_txt_file, error_bad_lines=False, delimiter="\t", encoding='ISO-8859-1')

# Save the DataFrame as a .csv file
df.to_csv(output_csv_file, index=False)

# Calculate the total count of 'szEmailAddress' rows in the extracted data
total_count_szEmailAddress = df.shape[0]

print(f'All rows extracted and saved to {output_csv_file}')
print(f'Total count of szEmailAddress rows in the extracted data: {total_count_szEmailAddress}')

<ipython-input-51-7ba3ecd581e8>:8: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(input_txt_file, error_bad_lines=False, delimiter="\t", encoding='ISO-8859-1')
<ipython-input-51-7ba3ecd581e8>:8: DtypeWarning: Columns (13,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_txt_file, error_bad_lines=False, delimiter="\t", encoding='ISO-8859-1')

All rows extracted and saved to /content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBC0003-11-10-2023-mautic.txt
Total count of szEmailAddress rows in the extracted data: 1810164

# **Step #11: Sort out the top 5,000 rows for Mautic Export**

In [11]:
import pandas as pd

# Define the input .txt file path
input_txt_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/master/cntywd_02102023_.txt'

# Define data types for the columns
dtypes = {
    'szEmailAddress': str,
    'szNameFirst': str,
    'szNameLast': str,
}

# Read the data from the .txt file with specified data types
df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

# Remove rows with 'NaN' values in the 'szEmailAddress' column
df = df.dropna(subset=['szEmailAddress'])

# Print and export only the top 5,000 rows of the specified columns
output_csv_file = '/content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBC0003-12-10-2023-c-mautic.csv'
df[['szEmailAddress', 'szNameFirst', 'szNameLast']].head(5000).to_csv(output_csv_file, index=False)

# Calculate the total count of 'szEmailAddress' rows in the extracted data
total_count_szEmailAddress = df.shape[0]

print(f'First 5,000 rows extracted and saved to {output_csv_file}')
print(f'Total count of szEmailAddress rows in the extracted data: {total_count_szEmailAddress}')

<ipython-input-11-80ed08c9f73d>:14: DtypeWarning: Columns (13,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_txt_file, sep='\t', encoding='ISO-8859-1', dtype=dtypes)

First 5,000 rows extracted and saved to /content/drive/MyDrive/projects/dataset/oc-voter-list/campaigns/nbc#003/NBC0003-12-10-2023-c-mautic.csv
Total count of szEmailAddress rows in the extracted data: 832374